@{
    ViewBag.Title = "პაროლის შეცვლა";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">პაროლის შეცვლა</div>
            <div class="card-body">
                <form class="changePass" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="password" id="newPass" name="newPass" class="form-control" placeholder="ახალი პაროლი" required="required" />
                                    <label for="newPass">ახალი პაროლი</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="password" id="confirmNewPass" class="form-control" placeholder="დაადასტურეთ ახალი პაროლი" required="required" />
                                    <label for="confirmNewPass">დაადასტურეთ ახალი პაროლი</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="match" style="color:#dc3545;display:none;">პაროლები არ ემთხვევა</p>
                    <button class="btn btn-success btn-block" id="svBtn" type="submit">დამახსოვრება</button>
                </form>
            </div>
        </div>