@using Myoutlet.ge.ViewModels
@model ViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Connection</title>
</head>
<body>
    <div> 
       <p> @ViewBag.Text</p>
    </div>
</body>
</html>
