@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="post-details-area mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <div class="post-details-content bg-white mb-30 p-30 box-shadow">
                    <div class="blog-content">
                        <h4 class="post-title mt-5" style="color:green">
                            გმადლობთ! გადახდა წამატებით შესრულდა!
                        </h4>
                        <p style="color:green;margin:100px 0;">
                        ჩვენი ოპერატორი დაგიკავშირდებათ.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>