@using Myoutlet.ge.ViewModels
@model ViewModel
@{
        ViewBag.Title = "პარტნიორები";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="mag-breadcrumb py-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/home/index">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    მთავარი
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">პარტნიორები</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="mag-posts-area d-flex flex-wrap">
        <div class="post-sidebar-area left-sidebar mb-30 bg-white box-shadow">
            @if (Model.Categories.Count > 0)
            {
                <div class="single-sidebar-widget p-30">
                    <div class="section-heading">
                        <h5>კატეგორიები</h5>
                    </div>
                    <ul class="catagory-widgets">
                        @foreach (var category in Model.Categories)
                        {
                            if (category.Products.Where(x => x.Status == true).Count() > 0)
                            {
                                <li>
                                    <a href="/home/kindbycategory/@category.Id">
                                        <span>
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> @category.Name
                                        </span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            }
            <div class="single-sidebar-widget">
                <div class=" cial-followers-info">
                    @if (Model.FbLink.Link != null)
                    {
                        <a href="//@Model.FbLink.Link" target="_blank" class="facebook-fans">
                            <i class="fa fa-facebook"></i>
                            <span>ფანი</span>
                        </a>
                    }
                    @if (Model.InstaLink.Link != null)
                    {
                        <a href="//@Model.InstaLink.Link" target="_blank" class="instagram">
                            <i class="fa fa-instagram"></i>
                            <span>მიმდევარი</span>
                        </a>
                    }
                    @if (Model.YoutubeLink.Link != null)
                    {
                        <a href="//@Model.YoutubeLink.Link" target="_blank" class="youtube-subscribers">
                            <i class="fa fa-youtube"></i>
                            <span>გამომწერი</span>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="mag-posts-content mb-30 p-30 box-shadow">
            <div class="section-heading">
                <h5>პარტნიორები</h5>
            </div>
            @if (Model.Partners.Count > 0)
            {
                <div class="featured-video-posts mb-30">
                    <div class="row">
                        @foreach (var partner in Model.Partners)
                        {
                            if (partner.Products.Where(x => x.Status == true).Count() > 0)
                            {
                                <div class="single-featured-post col-12 col-md-4">
                                    <div class="post-thumbnail mb-50">
                                        <div class="listing">
                                            <div class="listing_image">
                                                <div class="listing_image_container d-flex justify-content-center align-items-center">
                                                    <a href="/home/partner/@partner.Id">
                                                        <img class="img_size" src="~/Images/Partner-logos/@partner.CompanyLogo" alt="@partner.CompanyName">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="prop_location listing_location justify-content-start">
                                            <center>
                                                <a class="post-title btn mag-btn w-100 mt-2 mb-3 centa" href="/home/partner/@partner.Id">@partner.CompanyName</a>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <p>ასეთი პარტნიორი არ არსებობს.</p>
            }
        </div>

        <div class="post-sidebar-area right-sidebar mb-30 box-shadow">
            @if (Model.Adds.Count > 0)
            {
                <div class="single-sidebar-widget p-30">
                    <div class="section-heading">
                        <h5>რეკლამა</h5>
                    </div>
                    <div class="single-sidebar-widget">
                        <a href="//@Model.Adds[0].Linkd" target="_blank" class="add-img">
                            <img src="~/Images/Adds/@Model.Adds[0].ImgName" alt="">
                        </a>
                    </div>
                </div>
            }
            @if (Model.Adds.Count > 1)
            {
                <div class="single-sidebar-widget p-30">
                    <div class="section-heading">
                        <h5>რეკლამა</h5>
                    </div>
                    <div class="single-sidebar-widget">
                        <a href="//@Model.Adds[1].Linkd" target="_blank" class="add-img">
                            <img src="~/Images/Adds/@Model.Adds[1].ImgName" alt="">
                        </a>
                    </div>
                </div>
            }
        </div>
    </section>