@{
    ViewBag.Title = "დაკარგული პაროლი";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">დაკარგული პაროლი</div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>დაგავიწყდათ პაროლი?</h4>
                </div>
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="შეიყვანეთ ელ-ფოსტა" autofocus="autofocus" required>
                            <label for="inputEmail">შეიყვანეთ ელ-ფოსტა</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="companyId" name="companyId" class="form-control" placeholder="შეიყვანეთ ID" required>
                            <label for="companyId">შეიყვანეთ ID</label>
                        </div>
                    </div>
                    @Html.ValidationMessage("Error", new { @class = "text-danger" })
                <button class="btn btn-primary btn-block" type="submit">პაროლის შეცვლა</button>
                </form>
                <div class="text-center">
                    <a class="d-block small" href="/main/login/login">გვერდზე შესვლა</a>
                </div>
            </div>
        </div>
